body{
	background: url("img/bg.png")
}

.wrapper{
	border: 1px solid #000000;
	background-color: rgba(248, 248, 248, 0.67);
}
.leftColumn{
	border: 1px solid #ddd;
	width:12%;
	height:500px;
	float: left;
	margin: 5px;
}
.mainColumn{
	border: 1px solid #ddd;
	float: right;
	margin: 5px;
	width: 	85%;
	height:100%;

}
.footer{
	clear: both;
	margin: 5px;
	text-align: center;
	border-top: 1px solid #ddd;
	padding:5px;
}

h5{
	text-align: center;
	background-color: #949494;
	padding: 5px;
	border-radius: 5px;	
}
h4{
	text-align: center;
	background-color: #949494;
	padding: 5px;
	border-radius: 5px;	
}

.leftColumn h5{
	padding: 5px;
	clear: both;
	margin: 5px;
	background-color: rgba(246, 164, 164, 0.96);
}

.header {
	text-align:center;
	widows: 80%;
}
.header img{
	width: 80%;
}

.data{
	margin: 5px;
	padding	:5px;
	border: 1px solid #7C7C7C;

}
th{
	width:300px;
	background-color: #9EC1F5;
}
li{
	margin-bottom: 5px;
	margin-left: -15px;
}

table {
	border:1px solid #ddd;
	cellspacing: 0;
}
td{
	border:1px solid #DDD;
}
ul{
	margin: 0px;
}